@import '~/src/variables.scss';

:host {
  align-items: stretch;
  display: block;
  font-family: $font-stack;
  border: .125rem solid $palette-fg3;
  display: grid;
  grid:
    [row1-start] "nav nav" 2.75rem [row1-end]
    [row2-start] "list main" [row2-end]
    / 1fr 2fr;
  height: 100vh;
}
