@import '~/src/variables.scss';

:host {
  align-items: stretch;
  font-family: $font-stack;
  border: .125rem solid $palette-fg3;
  display: grid;
  grid:
    [row1-start] "nav nav" 2.75rem [row1-end]
    [row2-start] "list main" [row2-end]
    / 9fr 16fr;
  height: 100vh;
}

header {
  grid-area: nav;
  // Appearance
  @include ui-border;
  @include border-bottom;
  display: flex;
  align-items: center;

  h1 {
    font-size: 1.3rem;
    margin: 0rem;
  }

  img {
    height: 1.5rem;
    margin: 0.5rem;
  }

  .spacer {
    flex-grow: 1;
  }
}

aside {
  @include ui-border;
  @include border-right;
  grid-area: list;
  display: flex;
  justify-content: stretch;
  overflow: hidden;
}

main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden scroll;
  z-index: 2;
}

img {
  grid-area: main;
  max-width: 100%;
  z-index: 1;
}
