/* You can add global styles to this file, and also import other style files */

@import url('../../../node_modules/modern-normalize/modern-normalize.css');
@import url('https://fontlibrary.org//face/libertinus-sans');
@import './variables.scss';

*:focus-visible {
  outline: .125rem solid $palette-fg0;
}

* {
  scrollbar-color: $palette-fg3 $palette-bg;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $palette-bg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $palette-fg3;
    border-radius: .25rem;
    border: .125rem solid $palette-bg;
  }
}

html {
  background-color: $palette-bg;
  color: $palette-fg;
}

menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
