/* This file, as the name suggests, defines variables that are used throughout
 * the STOCKS application. Notably, it defines the font stack and color palette.
*/

$font-stack: "LibertinusSansRegular", sans-serif;

/* Palette
 * Our 16-color + bg/fg shades palette is lovingly and unapologetically stolen
 * from the legendary Gruvbox vim theme: https://github.com/morhetz/gruvbox
*/

// Background shades
$palette-bgh: #1d2021;
$palette-bg0: #282828;
$palette-bgs: #32302f;
$palette-bg1: #3c3836;
$palette-bg2: #504945;
$palette-bg3: #665c54;
$palette-bg4: #7c6f64;

// Foreground shades
$palette-fg4: #a89984;
$palette-fg3: #bdae93;
$palette-fg2: #d5c4a1;
$palette-fg1: #ebdbb2;
$palette-fg0: #fbf1c7;

// Primary 16-color palette
$palette-bg:  $palette-bgh;
$palette-fg:  $palette-fg1;
$palette-red:      #cc241d;
$palette-red-b:    #fb4934;
$palette-green:    #98971a;
$palette-green-b:  #b8bb26;
$palette-yellow:   #d79921;
$palette-yellow-b: #fabd2f;
$palette-blue:     #458588;
$palette-blue-b:   #83a598;
$palette-purple:   #b16286;
$palette-purple-b: #d3869b;
$palette-aqua:     #689d6a;
$palette-aqua-b:   #8ec07c;
$palette-orange:   #d65d0e;
$palette-orange-b: #fe8019;

@mixin ui-dark {
  background: $palette-bg;
  color: $palette-fg;
}

@mixin ui-border {
  border: 0 solid $palette-fg3;
}

@mixin stock-list-border {
  border: 0 solid $palette-bg2;
}

@mixin border-all {
  border-width: .125rem;
}

@mixin border-top {
  border-top-width: .125rem;
}

@mixin border-bottom {
  border-bottom-width: .125rem;
}

@mixin border-right {
  border-right-width: .125rem;
}

@mixin border-left {
  border-left-width: .125rem;
}

@mixin ui-button {
  &:hover {
    background: $palette-bg3;
  }
  &:active {
    background: $palette-fg4;
    color: $palette-bg1;
  }
}

@mixin icon-button {
    &:hover {
      color: $palette-fg0;
    }
    &:active {
      color: $palette-fg2;
    }
}
