@import '~/src/variables.scss';

:host {
  height: 100%;
  width: 100%;
  padding: .5rem;
}

header {
  display: flex;
  align-items: center;

  h2 {
    margin: 0 .5rem;
  }

  fa-icon {
    &:hover {
      color: $palette-fg0;
    }
    &:active {
      color: $palette-fg2;
    }
  }
}

dl {
  list-style: none;
  max-width: 20rem;

  &.collapse {
    display: none;
  }

  dt {
    font-weight: bold;
  }

  dd {
    &.industry {
      text-transform: capitalize;
    }

    &.up {
      color: $palette-green-b;
    }

    &.down {
      color: $palette-red-b;
    }
  }
}
