@import '~/src/variables.scss';

:host {
  height: 100%;
  width: 100%;
  padding: .5rem;
}

header {
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
  }

  button {
    @include ui-dark;
    @include ui-border;
    @include icon-button;
  }
}

dl {
  list-style: none;
  max-width: 20rem;

  &.collapse {
    display: none;
  }

  dt {
    font-weight: bold;
  }

  dd {
    span.delta {
      &:before {
        padding-left: 0.5rem;
        content: '(';
      }
      &:after {
        padding-left: 0.25rem;
        content: ')';
      }
    }

    &.industry {
      text-transform: capitalize;
    }

    &.up {
      color: $palette-green-b;
    }

    &.down {
      color: $palette-red-b;
    }
  }
}
