@import '~/src/variables.scss';

:host {
  grid-area: nav;
  // Appearance
  @include ui-border;
  @include border-bottom;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  margin: 0rem;
}

img {
  height: 1.5rem;
  margin-right: 0.5rem;
}
