@import '~/src/variables.scss';

:host {
  grid-area: nav;
  @include ui-border;
  // Appearance
  border-width: 0;
  border-bottom-width: .125rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  margin: 0rem;
}

img {
  height: 1.5rem;
  margin-right: 0.5rem;
}
