@import '~/src/variables.scss';

:host {
  text-align: center;
}

webstocks-search-bar {
  margin: 1rem;
}

menu {
  justify-content: space-around;

  webstocks-menu-button {
    @include ui-border;
    @include border-all;
  }
}
