<form>
  <h2>Add a Stock</h2>
  <webstocks-search-bar
    [placeholder]="'Something something something GME...'"
    (textChange)="onKeywordChange($event)"
  ></webstocks-search-bar>
  <menu>
    <webstocks-menu-button
      [text]="'Search'"
      (click)="onSearchClick()"
    ></webstocks-menu-button>
    <webstocks-menu-button
      [text]="(searchResults.matches) ? 'Done' : 'Cancel'"
      (click)="onCancelClick()"
    ></webstocks-menu-button>
  </menu>
</form>
<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
<ul *ngIf="searchResults.success">
  <webstocks-search-result
    *ngFor="let match of searchResults.matches"
    [result]="match"
    (addStock)="onAddStock($event)"
  ></webstocks-search-result>
</ul>
