@import '~/src/variables.scss';

:host {
  text-align: center;
  max-height: 100%;
}

webstocks-search-bar {
  margin: 1rem;
}

menu {
  justify-content: space-around;

  webstocks-menu-button {
    @include ui-border;
    @include border-all;
  }
}

ul {
  list-style: none;
  padding: 0;
}
